.Redirect-buttons{
    padding: 20px 40px ;
    margin: 5px;
    border: none;
    border-radius: 20px;
    background-color: rgb(16, 101, 213);

font-size: 15px;
cursor: pointer;
}


.Redirect-button:hover{
    background-color: aliceblue;
    color: aquamarine;

}
.billingsystem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;

}
